<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite parallel="false" name="Suite">
    <test name="testngTest">
        <!--  <groups> -->
        <!--    <run>-->
        <!--         <include name="HeaderTests" />-->
                  <!--<include name="ButtonTests" />-->
                <!--<exclude name="HeaderTests" />-->
        <!--    </run>-->
        <!--   </groups>-->
        <parameter name="username" value="admin"/>
        <parameter name="password" value="password"/>
        <classes>
            <!--   <class name="activities.Activity4" />
               <class name="activities.Demo2" />
               <class name="activities.Activity5" />
              <class name="activities.Activity6" />
              <class name="activities.Activity7" /> -->
             <class name="activities.Activity9" />
            </classes>
        </test>
    </suite>